<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gayanlakshitha.easylec">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">


        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:label="Easy Lec">
            <intent-filter>
                <action android:name="com.example.gayanlakshitha.easylec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".AddEntry" android:label="Add Entries"  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.gayanlakshitha.easylec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateEntry" android:label="Update Schedule"  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.gayanlakshitha.easylec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".About" android:label="About EasyLec"  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.gayanlakshitha.easylec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".UpdateSelected" android:label="Update Item"  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="com.example.gayanlakshitha.easylec" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>